@media all and (max-width:800px) /* for mobile tab view */
{
	.col-1{ width: 33.33%;  }
	.col-2{ width: 50%;     }
	.col-3{ width: 83.33%;  }
	.col-4{ width: 100%;    }
	.col-5{ width: 100%;    }
	.col-6{ width: 100%;    }

	.row .col-2:last-of-type{
		width: 100%; 
	}

	.row .col-5 ~ .col-1{
		width: 100%; 
	}
	
	#sidebar{
		display:none;
	}
	.col-md-offset-1{
		margin-left:0;
	}
	
	.dialog{
		width:100%;
		left:0;
	}
	input.wi-left{
		padding-left: 20px;
	}
	.main-container{
		max-width: 100%;
	}
}



@media all and (max-width:600px)     /* for mobile view  or tab view */
{
	.col-1{ width: 33.33%;  }
	.col-2{ width: 50%;     }
	.col-3{ width: 100%;  }
	.col-4{ width: 100%;    }
	.col-5{ width: 100%;    }
	.col-6{ width: 100%;    }

	.row .col-2:last-of-type{
		width: 100%; 
	}

	.row .col-5 ~ .col-1{
		width: 100%; 
	}
	
	.form-card{
		width:100%;
	}
	nav.navbar.top-nav  > div.nav-item{
		display:none;
	}
	
	#sidebar{
		width:100%;
	}
	.container{
		width:100%;
	} 

	.cente-block{
		width:100%;
	}
	
	.dialog{
		width:100%;
		left:0;
	}
	.jk-radio,
	.jk-checkbox {
		margin: 10px 0;
	}
	.side, .middle {
        max-width: 100%;
    }
    
	.main-container{
		max-width: 100%;
	}
	.jk-user-rating .side{
		display: none
	}
	.jk-user-rating .right {
		display: inline-block;
	}
	.jk-user-rating{
		border: 2px solid #f1f1f1;
		padding: 1em;
	}
    input span.right {
        display: none;
    }
	
}


@media all and (min-width:1000px) /*for tab view */
{
	.form-card{
		width:40%;
	}
	.center-block{
		width:80%;
	}
	
	.btn-md{
		width:auto;
	}
	
	.container{
		margin: 5px;
	}
	
	.dialog{
		width:50%;
		left:25%;
	}
	
	/*Image Zooming Feature STARTS here*/
	* {box-sizing: border-box;}
	
	.img-zoom-container {
		position: relative;
	}
	
	.img-zoom-lens {
	position: absolute;
	border: 1px solid #d4d4d4;
	/*set the size of the lens:*/
	width: 60px;
	height: 60px;
	border-radius: 50%;
	}
	.img-zoom-result {
	border: 1px solid #d4d4d4;
	/*set the size of the result div:*/
	width: 300px;
	height: 300px;
	position:absolute;
	top:0;
	left:25%;
	}
	/*Image Zooming Feature ENDS here*/
	
}
