:root{
	--primary-color: #FB8c00;
	--secondary-color:#fff;
	--jk-radio-size:20px;
	--jk-form-font-size:16px;
}
@media all and (max-width:400px) /* for mobile tab view */
{
	.lgout{
		display:none;
	}

	#sidebar{
		width:100%;
	}
	.col-1{ width: 100%;  }
	.col-2{ width: 100%;     }
	.col-3{ width: 100%;  }
	.col-4{ width: 100%;    }
	.col-5{ width: 100%;    }
	.col-6{ width: 100%;    }

	.row .col-5 ~ .col-1{
		width: 100%; 
	}
	
	#sidebar{
		display:none;
	}
	.col-md-offset-1{
		margin-left:0;
	}
	
	.dialog{
		width:100%;
		left:0;
	}
	input.wi-left{
		padding-left: 20px;
	}
	.main-container{
		max-width: 100%;
	}
	nav.navbar.top-nav  > div.nav-item{
		display:none;
	}
	.wallet-container{
		margin-left: 2%;
		margin-right: 2%;
		padding: 2%;
		border: none;
	}
	.wallet-container .ab-box{
		border: 1px solid var(--primary-color);
		border-radius: 4px;
	}
	.wallet-container .w-box{
		text-align: center;
		border: 1px solid var(--primary-color);
		border-radius: 4px;
	}
	.wallet-container .ico{
		display: block;
		font-size: 3em;
	}
	#sb-search{
		display: inline;
	}
	
	.f_scr_slider{
		height:300px;
	}

}


@media all and (max-width:800px) and (min-width:600px) /* for mobile tab view */
{
	.slideshow-container{
		height:200px;
		width:100%;
	}
	
	.prev, .next {
		width:25px;
	}
	.col-1{ width: 33.33%;  }
	.col-2{ width: 50%;     }
	.col-3{ width: 83.33%;  }
	.col-4{ width: 100%;    }
	.col-5{ width: 100%;    }
	.col-6{ width: 100%;    }

	.row .col-5 ~ .col-1{
		width: 100%; 
	}
	
	#sidebar{
		display:none;
	}
	.col-md-offset-1{
		margin-left:0;
	}
	
	.dialog{
		width:100%;
		left:0;
	}
	input.wi-left{
		padding-left: 20px;
	}
	.main-container{
		max-width: 100%;
	}
	
	nav.navbar.top-nav  > div.nav-item{
		display:none;
	}
	#sb-search{
		display: inline;
	}
	
	.f_scr_slider{
		height:340px;
	}
}



@media all and (max-width:600px) and (min-width:400px)  /* for mobile view  or tab view */
{
	.col-1{ width: 33.33%;  }
	.col-2{ width: 50%;     }
	.col-3{ width: 100%;  }
	.col-4{ width: 100%;    }
	.col-5{ width: 100%;    }
	.col-6{ width: 100%;    }


	.row .col-5 ~ .col-1{
		width: 100%; 
	}
	
	.form-card{
		width:100%;
	}
	nav.navbar.top-nav  > div.nav-item{
		display:none;
	}
	
	#sidebar{
		width:100%;
	}
	.container{
		width:100%;
	} 

	.center-block{
		width:100%;
	}
	
	.dialog{
		width:100%;
		left:0;
	}
	.jk-radio,
	.jk-checkbox {
		margin: 10px 0;
	}
	.side, .middle {
        max-width: 100%;
    }
    
	.main-container{
		max-width: 100%;
	}
	.jk-user-rating .side{
		display: none
	}
	.jk-user-rating .right {
		display: inline-block;
	}
	.jk-user-rating{
		border: 1px solid rgba(0,0,0,0.2);
		padding: 1em;
	}
    input span.right {
        display: none;
    }
	#sb-search{
		display: inline;
	}

}


@media all and (min-width:1000px) /*for tab view */
{
	.form-card{
		width:40%;
	}
	.center-block{
		width:80%;
	}
	
	.btn-md{
		width:auto;
	}
	
	.container{
		margin: 5px;
	}
	
	.dialog{
		width:50%;
		left:25%;
	}
	.wallet-container .bal{
		margin-right: 1.5em;
	}
	
	/*Image Zooming Feature STARTS here*/
	* {box-sizing: border-box;}
	
	.img-zoom-lens {
	position: absolute;
	border: 1px solid #d4d4d4;
	/*set the size of the lens:*/
	width: 200px;
	height: 100px;
	background-color:rgba(255,255,255,0.7);
	}
	.img-zoom-result {
		border: 1px solid #d4d4d4;
		width: 50%;
		height: 100%;
		position: absolute;
		top:0;
		padding:10px;
		left: 50%;
		z-index: 1;
		border-radius: 9px;
		box-shadow: 0px 0px 10px rgba(255,255,255,1);
	}
	
	.img-zoom-container{
		padding:0px 20px 0px 0px;
	}	
	/*Image Zooming Feature ENDS here*/
		.jk-user-rating{
		border: 1px solid rgba(0,0,0,0.2);
		padding: 1em;
	}
	
	  .prev, .next {
		width:75px;
	  }


	.f_scr_slider{
		height:500px;
	}
}


	/*left out intentionly*/
	.img-zoom-container img#myimage{
		width:100%;
		max-width:100%;
		height:416px;
		max-height:416px;
	}