@media all and (max-width:800px) /* for mobile tab view */
{
	.col-1{ width: 33.33%;  }
	.col-2{ width: 50%;     }
	.col-3{ width: 83.33%;  }
	.col-4{ width: 100%;    }
	.col-5{ width: 100%;    }
	.col-6{ width: 100%;    }

	.row .col-2:last-of-type{
		width: 100%; 
	}

	.row .col-5 ~ .col-1{
		width: 100%; 
	}
	
	#sidebar{
		display:none;
	}
	.col-md-offset-1{
		margin-left:0;
	}
}



@media all and (max-width:600px)     /* for mobile view  or tab view */
{
	.col-1{ width: 33.33%;  }
	.col-2{ width: 50%;     }
	.col-3{ width: 100%;  }
	.col-4{ width: 100%;    }
	.col-5{ width: 100%;    }
	.col-6{ width: 100%;    }

	.row .col-2:last-of-type{
		width: 100%; 
	}

	.row .col-5 ~ .col-1{
		width: 100%; 
	}
	
	.signup{
		width:100%;
	}
	nav.navbar.top-nav  > div.nav-item{
		display:none;
	}
	
	#sidebar{
		width:100%;
	}
	

	.container{
		width:100%;
	} 

	.cente-block{
		width:100%;
	}
}


@media all and (min-width:1000px) /*for tab view */
{
	.signup{
		width:40%;
	}
	.center-block{
		width:80%;
	}
	
	.btn-md{
		width:auto;
	}
	
	.container{
		margin:5px;
	}  
}