span.fa.fa-pencil{
	background-color:#d1d1d1;
	padding:10px;
	border-radius:4px;
	text-align:center;
}
span.fa.fa-plus{
	background-color:#bada55;
	padding:10px;
	border-radius:4px;
	text-align:center;
}
span.fa.fa-trash{
	content:'';
	background-color:var(--primary-color,black);
	padding:5px;
	border-radius:4px;
	text-align:center;
}

div.dialog{
	position:fixed;
	z-index:99999;
	margin:0 auto;
	top:1%;
	background-color:rgba(240,240,240,1);
	height:90%;
	border-radius:20px;	
	padding:20px;
	display:none;
}

div.dialog div.dialog-body{
	overflow-y:scroll;
	height:80%;
}

div#dhead{
	padding:20px;
}

.img-circle{
	vertical-align:middle;
}

.item-card{
	border-bottom:1px solid rgba(0,0,0,0.4);
	padding:10px;
	margin-bottom:10px;
	margin-top:5px;
	background-color:rgba(230,230,230,0.4);
}

.item-card div h2{
	margin:0;
}

.item-card [class*="col-"]:not(:first-child):not(:second-child){
	height:45px;
}

.item-card div.right{
	float:right;
}

[class*='col-'] [class*='col-']{
	padding:1%;
}

.green{
	color:#bada55;
}

.color-primary{
	color:var(--primary-color,black);
}

span.fa-1dot5x{
	font-size:1.6em;
}

span.cart-total-span{
	color:green;
	float: right;
	font-size:20px;
}

.chckot-flex{
	border-radius: 3px;
	height: 100%;
	margin-top: 15px;
	background-color: #f6f6f6;
}
.chckot-flex div{
	padding:10px;
}

.font-13px{
	font-size:13px;
}

.cart-content{
	padding-right:15px;
}