span.fa.fa-pencil{
	background-color:#d1d1d1;
	padding:10px;
	border-radius:4px;
	text-align:center;
}
span.fa.fa-plus{
	background-color:#bada55;
	padding:10px;
	border-radius:4px;
	text-align:center;
}
span.fa.fa-trash{
	content:'';
	background-color:var(--primary-color,black);
	padding:5px;
	border-radius:4px;
	text-align:center;
}

div.dialog{
	position:fixed;
	z-index:99999;
	margin:0 auto;
	top:5%;
	background-color:rgba(240,240,240,1);
	height:auto;
	border-radius:5px;	
	padding:20px;
	display:none;	
}

div.dialog div.dialog-body{
	overflow-y:scroll;
	height:80%;
}

div#dhead{
	padding:20px;
}

.img-circle{
	vertical-align:middle;
}

.item-card{
	border-bottom:1px solid rgba(0,0,0,0.4);
	padding:10px;
	margin-bottom:10px;
	margin-top:5px;
	background-color:rgba(230,230,230,0.4);
}

.item-card div h2{
	margin:0;
}

.item-card [class*="col-"]:not(:first-child):not(:second-child){
	height:45px;
}

.item-card div.right{
	float:right;
}


.green{
	color:#bada55;
}

.color-primary{
	color:var(--primary-color,black);
}

span.fa-1dot5x{
	font-size:1.6em;
}

span.cart-total-span{
	color:green;
	float: right;
	font-size:20px;
}

.chckot-flex{
	border-radius: 3px;
	height: 100%;
	margin-top: 15px;
	background-color: #f6f6f6;
}
.chckot-flex div{
	padding:10px;
}

.font-13px{
	font-size:13px;
}

.cart-content{
	padding-right:15px;
}

.text-center{
	text-align:center;
}

.ord_filter .row [class*="col-"]{
	padding:5px;
}

.ord_filter .row [class*="col-"] select{
	margin:0;
}

.ordItem{
	background-color:rgba(240,240,240,0.5);
	margin-bottom:10px;
	padding:10px;
	border-radius:5px;
}

.ordItem a{
	color:black;
	text-decoration:none;
	transition:ease-in 0.3s;
}

.ordItem a:hover{
	
	color:var(--primary-color);

}
.ordItem div{
	padding:5px;
}

.orderSumContainer h1,h2,h3,h4,h5,h6{

	color:var(--primary-color);
	text-decoration:none;
	transition:ease-in 0.3s;
	
}

._Sbct{
	color:black;
	font-family:Open Sans,sans-serif;
}
.subctcont a{
	padding:10px;
}


/*dashboard*/

.dshbrdcon [class*="col-"]{
	padding:5px;
	border-radius:4px;
	
}
.dshbrdcon > [class*="col-"] > div{
	background-color:rgba(255,255,255,1);
	box-shadow:0px 0px 1px rgba(0,0,0,0.2);
	margin-bottom:10px;
}
.dshbrdcon{
	color:black;
	padding:1px;
	background-color:rgba(230,230,230,1);
}

.dashboard-img{
	width:30px;
	height:30px;
	margin-left:4px;
	vertical-align:middle;
}

ul.dshul{
	color:rgba(0,0,0,0.5);
	font-family:Open Sans,sans-serif;
	list-style:none;
	padding:0;
}

ul.dshul li{
	margin-bottom:4px;
	transition:0.3s all;
	float:left;
	height:125px;
}

ul.dshul li a:hover{
	background-color:rgba(220,220,220,1);
}

ul.dshul li a{
	transition:0.3s ease-in;
	background-color:rgba(220,220,220,0.7);
	color:black;
	padding:10px;
	display:block;
	height:100%;
	font-weight:700;
	text-decoration:none;
	font-size:19px;
	color:var(--primary-color,black);
	padding:10px;
}

ul.dshul li a p{
	font-size:12px;
	padding:5px;
	font-weight:100;
	color:black;
}


.subhead{
	margin-top:10px;
	padding-top:15px;
	padding-left:10px;
}


div.form-set{
	border:1px solid rgba(210,210,210,1);
	display:inline-block;
	padding:5px;
	position:realtive;
	margin:5px;
}

div.form-set input[type="text"],div.form-set input[type="password"],div.form-set textarea{
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom:2px solid rgba(0,0,0,0.4);
	font-size:var(--jk-radio-size,13px);
	font-family:Open sans,sans-serif;
	transition:0.3s ease-in;
}

div.form-set input[type="text"]:hover,div.form-set input[type="password"]:hover,div.form-set textarea:hover{
	border-bottom:2px solid var(--primary-color,black);
}

div.form-set input[type="text"]:focus,div.form-set input[type="password"]:focus,div.form-set textarea:focus{
	border-bottom:2px solid var(--primary-color,black);
}

div.form-set label{
	padding:5px 0 1px 0;
	display:block;
	font-size:12px;
}

.full{
	display:block;
	min-height:100%;
	height:100%;
}

/*dashboard*/