RewriteEngine On

RewriteRule ^mcat=([0-9]*)$ maincategory.php?id=$1 [QSA]
RewriteRule ^product?([\w]*)$ product.php?id=$1 [QSA]
RewriteRule ^cart$ cart.php [QSA]
RewriteRule ^customer/address$ address.php [QSA]
RewriteRule ^customer/address/add$ add_address.php [QSA]
RewriteRule ^customer/orders$ orders.php [QSA]
RewriteRule ^customer/dashboard$ dashboard.php [QSA]
RewriteRule ^order/([\w]*)$ orderSummary.php [QSA]
RewriteRule ^login$ login.php [QSA]