RewriteEngine On

RewriteRule ^mcat=([0-9]*)$ maincategory.php?id=$1 [QSA]
RewriteRule ^product?([\w]*)$ product.php?id=$1 [QSA]
RewriteRule ^cart$ cart.php [QSA]
RewriteRule ^customer/address$ address.php [QSA]
RewriteRule ^customer/address/add$ add_address.php [QSA]
RewriteRule ^customer/orders$ orders.php [QSA]
RewriteRule ^order/([\w]*)$ orderSummary.php [QSA]

#store
RewriteRule ^store/?name=([a-z]+)$ /store/home.html?name=$1 [QSA]
RewriteRule ^store/?name=([a-z]+)&catid=([0-9]+)$ /store/categories.html?name=$1&catid=$2 [QSA] [L]