RewriteEngine On


RewriteRule ^customer$ reg.php [QSA]
#product related

RewriteRule ^product/add$ prdct.php?qtype=1 [QSA]
RewriteRule ^product/edit$ prdct.php?qtype=2 [QSA]
RewriteRule ^product/page/([0-9]*)/category/([0-9]*)$ prdct.php?page=$1&&cat=$2 [QSA]
RewriteRule ^product$ prdct.php?qtype=1 [QSA]
RewriteRule ^product/([\w]*)$ prdct.php?qtype=2&&id=$1 [QSA]

#product related

#category related

RewriteRule ^product/category/add$ cat.php?qtype=1 [QSA]
RewriteRule ^product/category/edit$ cat.php?qtype=2 [QSA]
RewriteRule ^product/category/([0-9]*)$ cat.php?id=$2 [QSA]
RewriteRule ^product/category/merchant$ cat.php?qtype=1 [QSA]
RewriteRule ^index/category$ cat.php?qtype=2 [QSA]
RewriteRule ^index/subcategory/([0-9]*)$ cat.php?qtype=3&id=$1 [QSA]


#category related

#address related

RewriteRule ^address/add$ adrses.php?qtype=1 [QSA]
RewriteRule ^address/delete$ adrses.php?qtype=2 [QSA]
RewriteRule ^address/sd$ adrses.php?qtype=3 [QSA]
RewriteRule ^address$ adrses.php [QSA]

#address related

#qna[question] related

RewriteRule ^question/add$ ques.php?qtype=1 [QSA]
RewriteRule ^question/edit$ ques.php?qtype=2 [QSA]
RewriteRule ^question/delete$ ques.php?qtype=3 [QSA]
RewriteRule ^question/*$ ques.php [QSA]
RewriteRule ^qna/product/([\w]*)$ ques.php?id=$1&qtype=1 [QSA]
RewriteRule ^qna/merchant$ ques.php?qtype=2&mid=$1 [QSA]

#qna[question] related

#qna[ans] related

RewriteRule ^answer/add$ ans.php?qtype=1 [QSA]
RewriteRule ^answer/edit$ ans.php?qtype=2 [QSA]
RewriteRule ^answer/delete$ ans.php?qtype=3 [QSA]
RewriteRule ^answer/*$ ans.php [QSA]

#qna[ans] related

#cart related

RewriteRule ^cart/add/([\w]*)/qty/([0-9]*)$ cart.php?qtype=1&p_id=$1&qty=$2 [QSA]
RewriteRule ^cart/edit/([\w]*)/qty/([0-9]*)$ cart.php?qtype=2&item_id=$1&qty=$2 [QSA]
RewriteRule ^cart$ cart.php?qtype=3 [QSA]
RewriteRule ^cart/delete/([0-9]*)$ cart.php?item_id=$1&qtype=4 [QSA]

#cart related

#review related 

RewriteRule ^review/add$ reviw.php?qtype=1 [QSA]
RewriteRule ^review/edit$ reviw.php?qtype=2 [QSA]
RewriteRule ^review/product/([\w]*)$ reviw.php?qtype=3&p_id=$1 [QSA]

#review related 

#order related

RewriteRule ^order/add$ orders.php?qtype=1 [QSA]
RewriteRule ^order/time/([0-9]*)$ orders.php?qtype=1&&t=$1 [QSA]
RewriteRule ^order/([\w]+)$ orders.php?qtype=2&&t=$1 [QSA]
RewriteRule ^customer/order/([\w]+)$ orders.php?qtype=4&&t=$1 [QSA]
RewriteRule ^customer/order/time/([0-9]*)$ orders.php?qtype=3&&t=$1 [QSA] #customer

#order related

#wallet related

RewriteRule ^wallet/transfer$ wallet.php?qtype=1 [QSA]
RewriteRule ^wallet$ wallet.php?qtype=1 [QSA]
RewriteRule ^wallet/txns$ wallet.php?qtype=2 [QSA]

#wallet related

#session
	RewriteRule ^session$ session.php [QSA]
	RewriteRule ^session/BSZC$ session.php?qtype=1 [QSA]
#session


#store

	#merhcant
	RewriteRule ^store/merchant/index$ store.php?qtype=4 [QSA] #get store details for merchant
	RewriteRule ^store/merchant/av/([0-9]*)$ store.php?qtype=1&name=$1 [QSA] #check name availablity
	RewriteRule ^store/merchant/create$ store.php?qtype=2 [QSA] #create store
	RewriteRule ^store/merchant/edit$ store.php?qtype=3 [QSA] #edit store detail
	#merchant

	RewriteRule ^store/get/([a-zA-Z]+)$ store.php?qtype=1&name=$1 [QSA]
	RewriteRule ^store/product/([\w]+)/recent$ store.php?qtype=2&mer_id=$1 [QSA]
	RewriteRule ^store/([\w]+)/([0-9]+)/page/([0-9]+)$ store.php?qtype=3&mer_id=$1&cat=$2&page=$3 [QSA]
	RewriteRule ^store/product/([\w]+)/([\w]+)$ store.php?qtype=5&pid=$1&merid=$2

#store


#payment
	RewriteRule ^payment/c$ paym.php?qtype=1 [QSA]
#payment

#customer related
RewriteRule ^customer/add$ reg.php [QSA]
RewriteRule ^customer$ reg.php [QSA]
#customer related

#HOMEPAGE
RewriteRule ^hpg/rc$ homepage.php?qtype=1 [QSA]
#HOMEPAGE

