RewriteEngine On

RewriteRule ^customer$ reg.php [QSA]
#product related

RewriteRule ^product/add$ prdct.php?qtype=1 [QSA]
RewriteRule ^product/edit$ prdct.php?qtype=2 [QSA]
RewriteRule ^product/page/([0-9]*)/category/([0-9]*)$ prdct.php?page=$1&&cat=$2 [QSA]
RewriteRule ^product$ prdct.php?qtype=1 [QSA]

#product related

#category related

RewriteRule ^product/category/add$ cat.php?qtype=1 [QSA]
RewriteRule ^product/category/edit$ cat.php?qtype=2 [QSA]
RewriteRule ^product/category/([0-9]*)$ cat.php?id=$2 [QSA]
RewriteRule ^product/category/merchant$ cat.php?qtype=1 [QSA]
RewriteRule ^index/category$ cat.php?qtype=2 [QSA]
RewriteRule ^index/subcategory/([0-9]*)$ cat.php?qtype=3&id=$1 [QSA]


#category related

#address related

RewriteRule ^address/add$ adrses.php?qtype=1 [QSA]
RewriteRule ^address/delete$ adrses.php?qtype=2 [QSA]
RewriteRule ^address$ adrses.php [QSA]

#address related

#qna[question] related

RewriteRule ^question/add$ ques.php?qtype=1 [QSA]
RewriteRule ^question/edit$ ques.php?qtype=2 [QSA]
RewriteRule ^question/delete$ ques.php?qtype=3 [QSA]
RewriteRule ^question/*$ ques.php [QSA]
RewriteRule ^qna/product/([\w]*)$ ques.php?id=$1 [QSA]
RewriteRule ^qna/merchant$ ques.php?qtype=2&mid=$1 [QSA]

#qna[question] related

#qna[ans] related

RewriteRule ^answer/add$ ans.php?qtype=1 [QSA]
RewriteRule ^answer/edit$ ans.php?qtype=2 [QSA]
RewriteRule ^answer/delete$ ans.php?qtype=3 [QSA]
RewriteRule ^answer/*$ ans.php [QSA]

#qna[ans] related

#cart related

RewriteRule ^cart/add/([\w]*)/qty/([0-9]*)$ cart.php?qtype=1&p_id=$1&qty=$2 [QSA]
RewriteRule ^cart/edit/([\w]*)/qty/([0-9]*)$ cart.php?qtype=2&item_id=$1&qty=$2 [QSA]
RewriteRule ^cart$ cart.php?qtype=3 [QSA]
RewriteRule ^cart/delete/([0-9]*)$ cart.php?qtype=4&item_id=$1 [QSA]

#cart related

#order related

RewriteRule ^order/add$ orders.php?qtype=1 [QSA]

#order related

#wallet related

RewriteRule ^wallet/transfer$ wallet.php?qtype=1 [QSA]

#wallet related

#session
	RewriteRule ^session$ session.php [QSA]
#session

#customer related
RewriteRule ^customer/add$ reg.php [QSA]
RewriteRule ^customer$ reg.php [L]
#customer related
